body {
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: #838C95;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
 
}
#app{
  height: 120vh;
  width: 100%;
  position: relative;
  background:rgba(0, 0, 0, 0.8) url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  border-radius: 0;
  color: #fff;
  font-size: 100%;
 
}
#form{
  background-color:rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
#results{
  display: block;
  width: 100%;
}
